MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=bani_search
MYSQL_ROOT_PASSWORD=your_mysql_password

BANIDB_BASE_URL=https://api.banidb.com/v2/angs
BANIDB_API_ROOT=https://api.banidb.com/v2
BANIDB_AMRIT_KEERTAN_URL=https://api.banidb.com/v2/amritkeertan/index
REQUEST_TIMEOUT_SECONDS=30
REQUEST_DELAY_SECONDS=0.25
MAX_RETRIES=5
INGEST_SOURCES=G,D,B,S,A
AMRIT_KEERTAN_MAX_INDEX=113
AK_VERSE_ID_OFFSET=2000000000
